/* CSS CLEAN * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

h2,
h3,
h4,
label {
  color: white;
}

#titulo {
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 3.125rem;
}

#legendas {
  color: white;
  font-style: italic;
}
#north {
  color: white;
  font-style: italic;
  font-size: 20px;
  text-align: right;
}
hr {
  width: 10cm;
  position: absolute;
}
